* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  overflow-x: hidden;
  position: relative;
}
input {
  outline: none;
}
.container-header {
  padding: 12px 20px 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  background-color: #66ccce;
  position: relative;
}
.logo-rs-lang {
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.first-line {
  top: 0px;
}
.second-line {
  top: 6px;
}
.third-line {
  top: 12px;
}
.line-nav {
  content: "";
  width: 30px;
  height: 2px;
  background-color: white;
  transition: 1s;
  position: absolute;
}
.icon-nav {
  cursor: pointer;
  position: relative;
  height: 14px;
  width: 30px;
  z-index: 1;
}
.icon-nav:hover .line-nav {
  background-color: #ce9c66;
}
.hide-line {
  opacity: 0;
}
.open-menu-first-line {
  transform: rotate(45deg);
  top: 6px;
}
.open-menu-second-line {
  width: 0px;
}
.open-menu-third-line {
  transform: rotate(-45deg);
  top: 6px;
}
.main-page {
  min-height: calc(100vh - 120px);
  background-color: #dbd7d2;
  position: relative;
  overflow-x: hidden;
}
.navigation-section {
  position: absolute;
  width: 300px;
  min-height: calc(100vh - 65px);
  background-color: #ce9c66;
  left: 100%;
  transition: 1s;
  z-index: 1;
  top: 65px;
  transform: translate(-100%, 0%);
}
.navigation-pages li {
  list-style-type: none;
}
.page-navigation:first-child {
  padding-top: 30px;
}
.page-navigation {
  color: white;
  font-size: 18px;
  padding: 15px 20px;
  transition: 1s;
  cursor: pointer;
  width: 300px;
}
.page-navigation:hover {
  background-color: rgb(255, 255, 255, 0.4);
}
.hide-navigation {
  transform: translate(0, 0%);
  width: 0px;
}
.footer {
  background-color: #ce9c66;
}
.container-footer {
  padding: 10px 20px;
}
.shadow {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);
}
#shadow {
  transition: 1s;
  z-index: 0;
}
.shadow-on {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
  transform: translateX(0%);
}
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-github {
  width: 30px;
}
.rss-logo {
  opacity: 0.7;
  transition: 1s;
}
.rss-logo:hover {
  opacity: 1;
}
.github-logo {
  opacity: 0.7;
  transition: 1s;
}
.github-logo:hover {
  opacity: 1;
}
.container-start-page {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-text-rslang {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 150px;
  margin-left: -10px;
  margin-top: 68px;
}
.about-application {
  color: #ce9c66;
  font-size: 18px;
  margin: 30px 0;
  max-width: 500px;
}
.buttons-start-page {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  align-items: center;
}
.button-about-project,
.registration-button {
  width: 70%;
  margin: 20px 0;
  height: 40px;
  background-color: #ce6698;
  border: 0;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s box-shadow;
}
.button-about-project:hover,
.registration-button:hover {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}
.page-mini-games {
  min-height: calc(100vh - 120px);
  background-color: #dbd7d2;
  position: relative;
}
.the-cross-sprint-page,
.the-cross-audiocall-page {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  cursor: pointer;
}
.full-screen {
  width: 45px;
  top: 13px;
  right: 55px;
  cursor: pointer;
  position: absolute;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(56deg)
    brightness(106%) contrast(101%);
}
.container-games-page {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}
.left-side-page-mimi-games {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button-min-games {
  width: 70%;
  border: 0;
  background-color: #ce6698;
  height: 70px;
  margin: 20px 0;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.button-min-games:hover {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}
.run-person,
.sound-img {
  width: 40px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(145deg)
    brightness(105%) contrast(105%);
}
.text-for-games-buttons {
  font-size: 30px;
}
.sound-img {
  width: 50px;
}
.text-choice-game {
  color: white;
}
.right-side-page-mimi-games {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block-buttons-level-english {
  display: flex;
  flex-direction: column;
}
.button-level-english {
  border: 0;
  color: white;
  height: 45px;
  border-radius: 15px;
  margin: 5px 0;
  cursor: pointer;
  width: 80%;
  transition: 0.5s;
}
.button-level-english:hover {
  box-shadow: 0px 0px 18px 10px rgb(0 0 0 / 25%);
}
.number-level-button-1 {
  background-color: #ebbfd4;
}
.number-level-button-2 {
  background-color: #ce6698;
}
.number-level-button-3 {
  background-color: #ebd6bf;
}
.number-level-button-4 {
  background-color: #d3a675;
}
.number-level-button-5 {
  background-color: #bfeaeb;
}
.number-level-button-6 {
  background-color: #57c7c9;
}
.click-button {
  border: 5px solid white;
}
.section-game-sprint {
  position: relative;
  background-color: #dbd7d2;
  min-height: calc(100vh - 65px);
}
.section-game-audiocall {
  position: relative;
  background-color: #dbd7d2;
  min-height: calc(100vh - 65px);
}
.game-area-sprint {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  max-height: 360px;
  background-color: #ebd6bf;
  width: 100%;
  height: 100%;
  border: 5px solid white;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  transition: 0.5s;
}
.game-area-audiocall {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  max-height: 383px;
  background-color: #ebd6bf;
  width: 100%;
  height: 100%;
  border: 5px solid white;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  transition: 0.5s;
}
.area-result-sprint,
.area-result-audiocall {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  max-height: 360px;
  background-color: #ebd6bf;
  width: 100%;
  height: 100%;
  border: 5px solid white;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  transition: 0.5s;
}
.guess-in-a-row {
  display: flex;
  justify-content: center;
}
.button-right-answer {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 0 5px;
}
.english-word-text {
  color: white;
  font-size: 45px;
  margin-top: 25px;
}
.translate-word-text {
  color: white;
  font-size: 35px;
}
.block-buttons-true-false-sprint {
  margin-top: 80px;
}
.button-true-false-sprint {
  height: 30px;
  width: 35%;
  border: 3px solid white;
  color: white;
  cursor: pointer;
  font-weight: 600;
}
.false-button-sprint {
  background-color: #f57359;
}
.true-button-sprint {
  background-color: #00bf97;
}
.score-sprint {
  position: absolute;
  left: 0;
  top: -35px;
  color: white;
  font-size: 25px;
}
.time-sprint {
  position: absolute;
  right: 0;
  top: -35px;
  color: white;
  font-size: 25px;
}
.right-answer {
  border: 5px solid #00bf97;
}
.false-answer {
  border: 5px solid #f57359;
}
.arrows-sprint {
  width: 30px;
  margin: 0 10px;
}
.arrows-sprint-block {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.coefficient-sprint-game {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
  top: -45px;
  font-weight: 800;
}
.result-of-sprint {
  color: white;
  font-size: 25px;
}
.percent-right-answers-text,
.percent-right-answers-text-audiocall {
  color: white;
  margin-top: 30px;
  font-size: 18px;
}
.percent-right-answers {
  color: white;
  font-size: 80px;
  margin-top: 15px;
}
.bullets-result-sprint-block {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.bullet-result-sprint {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}
.answers-wrond-right-sprint,
.answers-wrond-right-audiocall {
  text-align: left;
}
.text-mistakes-sprint,
.text-mistakes-audiocall {
  color: #f57359;
}
.text-right-sprint,
.text-right-audiocall {
  color: #00bf97;
}
.area-with-right-and-wrong-answers,
.area-with-right-and-wrong-answers-audiocall {
  background-color: #fff;
  margin-top: 25px;
  padding: 10px 10px 0px 10px;
  border-radius: 5px;
  height: 183px;
  max-height: 183px;
  overflow-y: auto;
}
.wrong-answers-sprint,
.wrong-answers-audiocall {
  border-bottom: 1px solid black;
}
.anwer-result {
  display: flex;
  align-items: center;
}
.img-listen-to-word {
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.text-and-its-translate-sprint {
  margin-bottom: 4px;
}
.img-repeat-word-audiocall {
  width: 80%;
  filter: invert(96%) sepia(69%) saturate(6169%) hue-rotate(151deg)
    brightness(89%) contrast(79%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.button-repeat-word-audiocall {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  border: 3px solid grey;
  transition: 0.5s box-shadow;
}
.button-repeat-word-audiocall:hover {
  box-shadow: 0px 0px 18px 10px rgb(0 0 0 / 25%);
}
.response-option-audiocall {
  display: flex;
  background-color: #fff;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.response-option-audiocall:hover {
  box-shadow: 0px 0px 18px 10px rgb(0 0 0 / 25%);
}
.block-response-options-audiocall {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}
.shell-number-response-audiocall {
  height: 25px;
  width: 25px;
  position: relative;
  background-color: #66ccce;
  border-radius: 50%;
  margin-right: 7px;
}
.number-response-audiocall {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.button-next-world-audiocall {
  background-color: #ce6698;
  color: white;
  border: 0;
  width: 100px;
  height: 36px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.button-next-world-audiocall:hover {
  box-shadow: 0px 0px 18px 10px rgb(0 0 0 / 25%);
}
.line-of-progress {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  background-color: #fff;
}
.right-answer-audiocall {
  background-color: #00bf97;
}
.false-answer-audiocall {
  background-color: #f57359;
}
.img-answer-audiocall {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.button-repeat-word-audiocall-open-answer {
  width: 30px;
  height: 30px;
  margin-bottom: -15px;
}
.block-with-answer-audiocall {
  display: flex;
  justify-content: center;
  align-items: center;
}
.answer-word-on-english {
  color: white;
  margin-left: 10px;
  font-size: 20px;
}
.guide-audiocall {
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.instruction-sprint {
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.section-registration {
  width: 400px;
  min-height: 450px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -100%);
  overflow-x: hidden;
  /* transition: 1s; */
  z-index: 1;
}
.section-registration-open {
  transform: translate(-50%, -50%);
  top: 50%;
}
.buttons-registr-or-enter {
  display: flex;
  width: 100%;
  position: relative;
}
.button-registration-account {
  color: #646664;
  width: 50%;
  height: 45px;
  border: 0;
  cursor: pointer;
}
.button-log-in-account {
  color: #646664;
  width: 50%;
  height: 45px;
  border: 0;
  cursor: pointer;
}
.selected-button-registr {
  color: #48c2c4;
}
.chose-rigistration-page {
  position: absolute;
  background-color: #48c2c4;
  width: 50%;
  left: 0;
  height: 3px;
  bottom: 0;
  transition: 0.5s;
}
.img-person-registration {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #dbd7d2;
  margin: 0 auto;
  margin-top: 50px;
}
.container-registration {
  width: 50%;
}
.block-user-information-log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-email-log-in,
.input-password-log-in,
.input-name-registration,
.input-email-registration,
.input-password-registration {
  width: 80%;
  border: 0;
  border-bottom: 2px solid #dbd7d2;
  margin-top: 35px;
  padding-bottom: 2px;
}
.buttons-back-or-log-in {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 35px;
}
.button-back-registration-log-in,
.button-log-in-to-account,
.button-registration-to-account {
  width: 80px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.button-back-registration-log-in:hover,
.button-log-in-to-account:hover {
  box-shadow: 0px 0px 21px 6px rgb(0 0 0 / 25%);
}
.button-log-in-to-account,
.button-registration-to-account {
  background-color: #48c2c4;
  color: white;
}
.button-back-registration-log-in {
  background-color: #838383;
  color: white;
}
.container-registration {
  width: 400px;
  min-height: 405px;
  background-color: white;
}
.container-registr-and-log-in {
  display: flex;
  width: 800px;
  transition: 1s;
}
.container-log-in {
  width: 50%;
}
.button-add-photo {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #edebe8;
  margin-top: 20px;
}

.img-plus-add-photo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
}
.container-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation-registration-buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 45px;
  padding-bottom: 20px;
}
.button-registration-to-account {
  width: 100px;
  transition: 0.5s;
}
.button-registration-to-account:hover {
  box-shadow: 0px 0px 21px 6px rgb(0 0 0 / 25%);
}
.text-error-email {
  width: 80%;
  font-size: 8px;
  color: #f57359;
}
.text-error-email-hide {
  display: none;
}
.text-error-password {
  width: 80%;
  font-size: 8px;
  color: #f57359;
}
.text-error-password-hide {
  display: none;
}
.text-error-name {
  color: #f57359;
  font-size: 12px;
}
.error-wrong-email-or-password {
  color: #f57359;
  font-size: 12px;
}
.inforamtion-about-user {
  display: flex;
  margin-right: 15px;
}
.inforamtion-about-user-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: -5px;
}
.right-side-header {
  display: flex;
  align-items: center;
}
.name-of-user {
  color: white;
}
.img-exit {
  transition: 0.1s;
  cursor: pointer;
  width: 30px;
  filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(2deg)
    brightness(94%) contrast(117%);
}
.img-exit:hover {
  filter: invert(72%) sepia(39%) saturate(481%) hue-rotate(348deg)
    brightness(85%) contrast(88%);
}
.avatar-end-name-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.textbook-section {
  min-height: calc(100vh - 122px);
  background-color: #fff;
}
.container-textbook-section {
  padding: 20px;
  padding-top: 10px;
  box-sizing: border-box;
}
.navigation-textbook {
  display: flex;
  align-items: center;
}
.button-page-dictionary,
.button-page-textbook {
  color: #2c2647;
  font-size: 30px;
  font-weight: 600;
  opacity: 0.3;
  transition: 0.5s color;
}
.chosen-button-page-textbook {
  opacity: 1;
}
.difficulty-level-textbook {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-top: 15px;
  justify-content: center;
}
.button-difficulty-level-textbook,
.button-show-difficulty-words {
  margin: 0 10px;
  position: relative;
  display: flex;
  width: 176px;
  height: 50px;
  background-color: #edebe8;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  justify-content: space-between;
  border-radius: 7px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.5s;
}
.button-difficulty-level-textbook:hover .hover-difficulty-level {
  opacity: 1;
}
.button-show-difficulty-words:hover {
  box-shadow: 0px 0px 21px 6px rgb(0 0 0 / 25%);
}
.button-show-difficulty-words:hover .text-button-difficult-words {
  opacity: 1;
}

.button-difficulty-level-textbook:hover {
  box-shadow: 0px 0px 21px 6px rgb(0 0 0 / 25%);
}
.describe-level-difficulty,
.text-button-difficult-words {
  transition: 0.5s;
  font-size: 28px;
  font-weight: 500;
  opacity: 0.3;
}
.level-difficulty-textbook {
  font-size: 32px;
  font-weight: 700;
  right: 10px;
  font-weight: 700;
  z-index: 1;
  opacity: 0.3;
}
.circle-difficukty-button {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #66ccce;
  z-index: 0;
  right: -11px;
  opacity: 0.3;
}
.circle-medium-difficulty {
  background-color: #ce6698;
}
.circle-hard-difficulty {
  background-color: #ce9c66;
}
.chousen-level-text-book {
  opacity: 1;
}
.hover-difficulty-level {
  transition: 0.5s;
}
.max-width-section {
  max-width: 1440px;
  margin: 0 auto;
}
.card-textbook-word-translate {
  background-color: #edebe8;
  width: 195px;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin: 5px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
.card-textbook-word-translate:hover {
  box-shadow: 0px 0px 21px 6px rgb(0 0 0 / 25%);
}
.card-textbook-word-translate:hover .circle-chousen-word {
  opacity: 1;
}
.card-textbook-word {
  font-size: 26px;
  font-weight: 600;
  position: absolute;
  z-index: 100;
}
.textbook-words-columns {
  display: grid;
  grid-template-columns: 1fr 350px;
}
.textbook-words {
  display: flex;
  flex-wrap: wrap;
}
.heading-textbook-words {
  font-size: 35px;
  color: #2c2647;
}
.circle-chousen-word {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #ce9c66;
  border-radius: 50%;
  top: -27px;
  right: -95px;
  transition: 0.5s;
}
.hide-circle {
  opacity: 0;
}
.medium-level {
  font-size: 24px;
}
.textbook-translate-img-example {
  background-color: #edebe8;
  border-radius: 10px;
  margin-top: 5px;
}
.img-textbook-main {
  border-radius: 10px;
  width: 100%;
}
.all-information-about-word {
  padding: 10px;
  box-sizing: border-box;
}
.word-on-english-textbook {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: -6px;
}
.translate-word-on-english-textbook {
  font-weight: 500;
  font-size: 20px;
}
.transcription-textbook {
  font-size: 16px;
}
.word-and-listening-button {
  display: flex;
  align-items: center;
}
.button-listening-word-textbook {
  width: 40px;
  margin-left: 10px;
  margin-bottom: -11px;
  cursor: pointer;
}
.meaning-word-heading {
  font-size: 22px;
}
#meaning-word-example,
#meaning-word-example-translate,
#example-use-word,
#example-use-word-translate {
  font-size: 14px;
}
#meaning-word-example {
  margin-bottom: 5px;
}
#example-use-word {
  margin-bottom: 5px;
}
.number-page-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prev-page-button,
.next-page-button {
  width: 20px;
  cursor: pointer;
}
.number-page {
  font-size: 30px;
}
.card-word-translate {
  position: absolute;
  z-index: 100;
  top: 43px;
}
.add-difficult-words-textbook,
.button-learned-word {
  width: 45%;
  height: 35px;
  background-color: #66ccce;
  color: white;
  font-size: 14px;
  border: 0;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.add-difficult-words-textbook:hover,
.button-learned-word:hover {
  background-color: #a89e90 !important;
}
.circle-difficult-word {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  bottom: -9px;
  left: -9px;
  transition: 0.5s;
}
.choice-word {
  background-color: #a89e90 !important;
  cursor: inherit;
}
.text-button-difficult-words {
  font-size: 20px;
}
.button-remove-difficult-word {
  width: 100%;
  height: 35px;
  background-color: #2c2647;
  color: white;
  font-size: 22px;
  border: 0px;
  border-radius: 10px;
  margin-top: 5px;
  cursor: pointer;
  cursor: pointer;
  transition: 0.5s;
}
.button-remove-difficult-word:hover {
  background-color: #a89e90;
}
.hide-block {
  display: none;
}
